<div class="navigation-container">
  <div class="navigation-cover cover-black"></div>
  <div class="navigation-cover cover-light-purple"></div>
  <div class="navigation-cover cover-deep-purple"></div>
  <div class="navigation-cover cover-black"></div>

  <div class="navigation-wrapper">
    <div class="logo">
        <p class="big-logo">11</p>
        <div class="Colon  logo-timer">
          <h1>:</h1>
        </div>
      <p class="big-logo">11</p>
    </div>

     
     
      <nav class="navigation-menu">
        <ul>
          <li class="navigation-menu-item">
            <a [routerLink]="[ '/portfolio' ]" routerLinkActive="active">
              <p class=menu-link-number>01</p>
              <p class="menu-link-name">portfolio</p>
              <i class="material-icons">
                  arrow_right_alt
                  </i>
            </a>
          </li>
          <li class="navigation-menu-item">
            <a [routerLink]="[ '/tattoos' ]" routerLinkActive="active">
              <p class=menu-link-number>02</p>
              <p class="menu-link-name">tattoos</p>
              <i class="material-icons">
                  arrow_right_alt
                  </i>
            </a>
          </li>
        </ul>
      </nav>
  </div>
</div>